<div *ngIf='items.length > 0; else cartEmpty'>
  <app-cart-item
    *ngFor="let item of items; trackBy: trackByProductItems"
    [item]="item"
    (updateItemQuantity)="onUpdateItemQuantity(item, $event)"
    (removeItem)="onRemoveItem(item)">
  </app-cart-item>
  <div>
    <span>Total Amount:&nbsp;</span>
    <!-- Такой объект лучше формировать в классе, легче читать и HTML чище будет -->
    <span [ngClass]="{red: totalAmount >= 3000, yellow: totalAmount > 100 && totalAmount < 3000 }">{{totalAmount}}</span>
  </div>
</div>
<ng-template #cartEmpty><b>No items in the shopping cart.</b></ng-template>
