<!-- Насколько я знаю, расположение button внутри span не является допустимым с точки зрения HTML-синтаксиса. Это потому, что span - это строчный элемент, а button - это блочный элемент. Строчные элементы не могут содержать в себе блочные элементы, так как это нарушает правила вложенности -->
<div>
    <span appHighlight [color]='"red"'>{{item.name | uppercase}}</span>
    <span><button (click)="onRemoveItem()">Delete</button></span>
</div>
<div>
    <span><button (click)="onRemoveItemQuantity()" [disabled]="item.amount === 1">-</button></span>
    <span>{{item.amount}}</span>
    <span><button (click)="onAddItemQuantity()">+</button></span>
</div>
